/*

  WordPres default, this is can be overriden, just think of these as a reset file
  +

*/

 /**
  * General
  */
 
 img {
   max-width: 100% !important;
   height: auto;
   vertical-align: middle;
 }
 
 
 