/*

  Post Navigation Link
  +

*/

@use '../modules/variables' as *;

.post-pagination{
  background: $yellow;
}


.wp-block-query-pagination-numbers{
  a, .current{
    background: $white;
  }
}

.wp-block-group.hide-empty:has( .wp-block-group.hide-empty > .wp-block-post-navigation-link:only-child:empty )
.wp-block-group.hide-empty:has( > .wp-block-post-navigation-link:only-child:empty ) {
	display: none !important;
}



.post-navigation-link-previous{
  padding-left: .50em;
  padding-bottom: .5em;
}

.post-navigation-link-next{
  padding-right: .50em;
  padding-bottom: .5em;
}

.wp-block-post-navigation-link{
  background: $vw-red;
  a{
    font-size: .5em;
    color: $white;
  }
}

.wp-block-query-pagination-previous, .wp-block-query-pagination-next{
  background: $yellow;
  color: $black;
 
}
.current{
  background: $vw-green !important;
  color: $white;
}

.page-numbers{
  transition: $transition-in; 
  &:hover{
    background: $vw-red;
    color: $white;
    transition: $transition-out;
  }
}